<script>
  import Konva from "konva";
  import { drawDeck } from "~/drawing/base-deck";
  import { createTransformer } from "~/drawing/create-transformer";
  import { feet, halfFeet } from "~/config";
  import { createGraphLayer } from "~/drawing/graph-background";
  import { createStageSidebar } from "~/drawing/stage-sidebar"

  const containerEl = document.getElementById("container");
  const containerWidth = containerEl.clientWidth;
  const containerHeight = containerEl.clientHeight;
  const boardX = 2 * feet(); // Starting X coordinate
  const boardY = feet() * 4; // Starting Y coordinate
  const startAngle = 0; // Starting angle in degrees

  var objectDrawerX =
    Math.round((containerEl.clientWidth * 0.8) / feet()) * feet();

  // Initialize stage and layer
  var stage = new Konva.Stage({
    container: "container",
    width: containerWidth,
    height: containerHeight,
  });


  var deckLayer = new Konva.Layer();
  var drawerLayer = new Konva.Layer();
  stage.add(deckLayer);
  stage.add(drawerLayer);

  // Add click event listener to stage
  // stage.on("click", (e) => {
  //   // Iterate through all transformers on the stage
  //   stage.find("Transformer").each((transformer) => {
  //     // Check if the transformer is active
  //     if (transformer.nodes().length > 0) {
  //       // Deactivate the transformer by clearing its nodes
  //       transformer.nodes([]); // This will make the transformer inactive
  //     }
  //   });
  // });

  // const graphLayer = createGraphLayer(stage.width(), stage.height());
  // stage.add(graphLayer);

  function startBuilding() {
    const inputStr = (document.getElementById("inputData") as HTMLInputElement)
      .value;
    const deck = drawDeck(inputStr, boardX, boardY, startAngle);
    deckLayer.add(deck);

    createStageSidebar(objectDrawerX, boardY, stage, drawerLayer)
  }

  startBuilding();

  const button = document.getElementById("draw-button");
  button.addEventListener("click", (e) => {
    e.preventDefault();
    startBuilding();
  });
</script>

<style>
  canvas {
    border: 2px solid black;
  }

  #background {
    background-color: #add8e6;
    background-size: 36px 36px;
    background-image: linear-gradient(
        to right,
        transparent 1px,
        rgba(255, 255, 255, 0.5) 1px
      ),
      linear-gradient(to bottom, transparent 1px, rgba(255, 255, 255, 0.5) 1px);
  }
</style>

<div id="background" class="w-full h-full">
  <div id="container" class="w-full h-full"></div>
</div>
