<script>
  import Konva from "konva";

  function drawDeck() {
    // first we need to create a stage
    var stage = new Konva.Stage({
      container: "container", // id of container <div>
    });

    // Create Layer
    var layer = new Konva.Layer();
  }
</script>

<style>
  canvas {
    border: 2px solid black;
  }
</style>

<div id="container" class="bg-blue-100 w-full h-full">
  <h2>Deck Drawing</h2>
  <label for="inputData">Enter Lengths and Angles:</label>
  <input type="text" id="inputData" placeholder="e.g., 12, 90, 10, 45, 8.5" />
  <button id="draw-button" class="btn">Draw</button>
</div>
