<script>
  import Konva from "konva";

  const containerEl = document.getElementById("container");

  // Initialize stage and layer
  var stage = new Konva.Stage({
    container: "container",
    width: containerEl.clientWidth,
    height: containerEl.clientHeight,
  });

  var deckLayer = new Konva.Layer();
  stage.add(deckLayer);

  var x = containerEl.clientWidth * 0.1; // Starting X coordinate
  var y = containerEl.clientHeight * 0.2; // Starting Y coordinate
  var currentAngle = 0; // Starting angle in degrees
  var line = new Konva.Line({
    points: [x, y],
    stroke: "black",
    strokeWidth: 5,
    draggable: true,
    strokeEnabled: true,
    fillEnabled: true,
    shadowColor: "red",
  });
  deckLayer.add(line);

  function createCircle(x, y) {
    const circle = new Konva.Circle({
      x: x,
      y: y,
      radius: 20,
      fill: "red",
      draggable: true,
    });



    // Event listener for dragend event
    circle.on("dragend", (e) => {
      const target = e.target;
      const targetPos = target.getAbsolutePosition();
      
      const targetX = target.getAbsolutePosition().x
      const targetY = target.getAbsolutePosition().y

      createCircle(targetX, targetY)

    });

    deckLayer.add(circle);
  }

  createCircle(x, y); // Initial circle

  function drawDeck() {
    // Reset Line
    line.points([x, y]);
    currentAngle = 0;

    try {
      const inputStr = (
        document.getElementById("inputData") as HTMLInputElement
      ).value;
      var values = inputStr.split(",").map((value) => value.trim());

      for (var i = 0; i < values.length; i += 2) {
        var angle = parseFloat(values[i]);
        var length = parseFloat(values[i + 1]);

        // Convert angle to Radians
        var angleRadians = ((currentAngle + angle) * Math.PI) / 180;

        // Calculate new endpoint coordinates
        var newX = x + length * Math.cos(angleRadians);
        var newY = y + length * Math.sin(angleRadians);

        line.points([...line.points(), newX, newY]);

        // Update current position and angle for the next segment
        x = newX;
        y = newY;
        currentAngle += angle;
      }

      line.draw();
    } catch (e) {
      alert(e);
    }
  }

  const button = document.getElementById("draw-button");
  button.addEventListener("click", (e) => {
    e.preventDefault();
    drawDeck();
  });
</script>

<style>
  canvas {
    border: 2px solid black;
  }
</style>

<div id="container" class="w-full h-full"></div>
