---
import RadioField from "../molecules/RadioField.astro";
---

<form id="form" class="max-w-sm mx-auto">
  <div class="mb-5">
    <label
      for="address"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Address:</label
    >
    <textarea
      id="address"
      rows="4"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Leave a comment..."
      >9700 Chilson Commons Cir, Pinckney, MI 48169, United States
    </textarea>
  </div>

  <div class="mb-5">
    <label
      for="otg"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >OTG (OFF THE GROUND) in inches</label
    >
    <input
      id="otg"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>

  <div class="mb-5">
    <label
      for="aoh"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >AGE OF HOME</label
    >
    <input
      id="aoh"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>

  <RadioField />

  <label
    for="inputData"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Enter Lengths and Angles:
  </label>
  <textarea
    id="inputData"
    rows="4"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="e.g. 0, 5, 45, 2.8, 315, 5, 315, 2.8, 45, 5, 270, 10, 270, 19, 270, 10"
    >0, 5, 45, 2.8, 315, 5, 315, 2.8, 45, 5, 270, 10, 270, 19, 270, 10
  </textarea>
  <button id="draw-button" class="btn btn-primary mt-2">Draw</button>

</form>
