<div
  class="grid grid-cols-12 grid-rows-12 h-screen w-full  "
>
  <div class="
  bg-red-400
  p-8
  col-span-2 row-span-12 border-gray-700 border">
    <h1 >Sidebar Here</h1>
    <h1>Deck Drawing</h1>
    <label for="inputData">Enter Lengths and Angles:</label>
    <input type="text" id="inputData" placeholder="e.g., 11, 90, 10, 45, 8.5" />
    <button id="draw-button" class="btn">Draw</button>
  </div>

  <div class="col-span-10 row-span-9 border-gray-700 bg-blue-500">
  </div>

  <div class="col-span-10 col-start-3 row-span-3 border-gray-700 bg-blue-300">
    <h2>Footer Here</h2>
  </div>
</div>
