<div class="grid grid-cols-12 h-[100dvh] w-full">
  <aside class="col-span-2 border-8
    p-4
    w-full h-full">
    <div class="grid gap-4">
      <h1>Aside Hre</h1>
      <input class="input-md border" />
    </div>
  </aside>
  <main id="main-page" class="col-span-10 border-8
    w-full h-full">
    <slot />
  </main>
</div>
