---
import Sidebar from "~/components/organisms/Sidebar.astro";
---

<div
  class="grid grid-cols-12 grid-rows-12 h-screen w-full border-8 border-gray-700"
>

  <div class="p-8 col-span-2 row-span-12 border-gray-700 border-r-8">
    <Sidebar />
  </div>

  <div class="col-span-10 row-span-9 border-b-8 border-gray-700">
    <slot />
  </div>

  <div class="col-span-10 col-start-3 row-span-3">
    <h2>Footer Here</h2>
  </div>
</div>
